/*Your CSS goes here. This is the only file you'll need to modify for this assignment.*/

body {
	margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.site-banner {
	background-color: #000000;
	color:	#ffffff;
	font-size: 60px;
	text-align: center;
	 padding-top: 10px;
  padding-bottom: 8px;
   padding-left: 0%;
  padding-right: 0%;
  
}

.logo {
	width: 188px;
}

.article {
	max-width: 1200px;
	margin-left: 25%;
  margin-right: 25%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.story-header {
	font-family: Franklin Light, sans-serif;
}

.news-section { 
	font-family: Franklin Bold;
	font-sizeq: 14px;
	margin-top: 32px;
}

h1 {
	font-family: Postoni, serif;
	font-size: 46px;
	margin-bottom: 0px;
	font-weight: normal;
}

.deck {
	font-size: 20px;
}

.byline {
	font-size:16px;
	margin-bottom: 2px;
}

.publish-date {
	height:14px;
	margin-top: 0px;
	color:#666666;
}

.story-body {
	font-family: Georgia, serif;
	font-size: 20px;
	line-height: 32px;
	max-width: 700px;
}

img {
	width: 100%;
}

.photo-caption {
	color: #666666;
	font-size: 14px;
	margin-top: 0px;
	line-height:18px;
	font-family: Franklin Light, sans-serif;
}

.story-footer {
	max-width:700px;
	font-family: Franklin Light, sans-serif;
	font-size: 14px;
	border-top-width: 1px;
	border-top-style: solid;

}

h3 {
	font-family: Franklin Bold;
	font-size:16px;
	font-weight:lighter;
}

h2 {
	font-size:28px;
	font-family: Postoni, serif;
	margin-bottom: none;
}

.footer-info {
padding-bottom: 10px;
color:#666666;
font-size: 14px;
font-family: Franklin Light, sans-serif;
border-bottom-width: 1px;
border-bottom-style: solid;	
}


a:link {
  color: royalblue;
}


a:visited {
  color: purple;
}


a:hover {
  color: darkgrey;

